/* Write your CSS here */

* {
  box-sizing: border-box;
}

.load {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 577px) {
  .team-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .team-container-PBK {
    background-image: linear-gradient(to bottom, #d91c1f, #0f172a);
    padding: 3%;
  }

  .team-container-CSK {
    background-image: linear-gradient(to bottom, #f7db00, #0f172a);
    padding: 3%;
  }

  .team-container-MI {
    background-image: linear-gradient(to bottom, #13418b, #0f172a);
    padding: 3%;
  }

  .team-container-SRH {
    background-image: linear-gradient(to bottom, #f26d22, #0f172a);
    padding: 3%;
  }

  .team-container-RR {
    background-image: linear-gradient(to bottom, #da237b, #0f172a);
    padding: 3%;
  }

  .team-container-DC {
    background-image: linear-gradient(to bottom, #5755a7, #0f172a);
    padding: 3%;
  }

  .team-container-RCB {
    background-image: linear-gradient(to bottom, #a4261d, #0f172a);
    padding: 3%;
  }

  .team-container-KKR {
    background-image: linear-gradient(to bottom, #4f5db0, #0f172a);
    padding: 3%;
  }

  .banner {
    width: 100%;
    object-fit: cover;
    margin: 5%;
  }

  .teammatches-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .team-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .team-container-PBK {
    background-image: linear-gradient(to bottom, #d91c1f, #0f172a);
    padding: 3%;
  }

  .team-container-CSK {
    background-image: linear-gradient(to bottom, #f7db00, #0f172a);
    padding: 3%;
  }

  .team-container-MI {
    background-image: linear-gradient(to bottom, #13418b, #0f172a);
    padding: 3%;
  }

  .team-container-SRH {
    background-image: linear-gradient(to bottom, #f26d22, #0f172a);
    padding: 3%;
  }

  .team-container-RR {
    background-image: linear-gradient(to bottom, #da237b, #0f172a);
    padding: 3%;
  }

  .team-container-DC {
    background-image: linear-gradient(to bottom, #5755a7, #0f172a);
    padding: 3%;
  }

  .team-container-RCB {
    background-image: linear-gradient(to bottom, #a4261d, #0f172a);
    padding: 3%;
  }

  .team-container-KKR {
    background-image: linear-gradient(to bottom, #4f5db0, #0f172a);
    padding: 3%;
  }

  .banner {
    width: 100%;
    object-fit: cover;
    margin: 5%;
  }

  .teammatches-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}
